# Build output
[Bb]in/
[Oo]bj/

# IDE
.vs/
.idea/
*.user
*.suo
*.userprefs
*.DotSettings.user

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Logs
[Ll]og/
[Ll]ogs/
*.log

# OS
.DS_Store
Thumbs.db
